"*":
  core:
    disabledPackages: [
      "language-javascript"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
  editor:
    fontSize: 21
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapHangingIndent: 2
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "f88838d1-d42e-cf65-f5c5-b1b4d6f58c29"
  linter:
    errorPanelHeight: 49
  "linter-jshint":
    exnext: true
  "linter-less":
    ignoreUndefinedVariables: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    softWrapHangingIndent: 2
".coffee.source":
  editor:
    softWrapHangingIndent: 2
".html.spacebars.text":
  editor:
    softWrapHangingIndent: 2
".js.source":
  editor:
    softWrapHangingIndent: 2
